:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
                                                            
  --bg-color: #fef4e8;           
  --text-color: #5a3d2b;
  --form-bg: #fff;
  --button-bg: #f7c6a4;
  --button-hover-bg: #e5b094;
  --overlay-bg: rgba(0,0,0,0.5);
                                                            
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
                                                            
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: 
    "about-me deer-pic-1 education"
    "about-me experience deer-pic-2"
    "projects projects contact-me"
}

.container a {
  text-decoration: none;
}

.container > div {
  background-color: var(--form-bg);
  border: 2px solid #e0c9b3;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.container > h2 {
  margin: 0;
  font-size: 14px;
  color: #a3876b;
}

.container h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #5a3d2b;
}

.image {
  width: 100%;
  max-width: 60%;
  height: auto;
  object-fit: contain;
  border-radius: 15px
}

.about-me { 
  display: grid; 
  grid-template-rows: 1fr 1fr; 
  gap: 10px; 
  grid-template-areas: 
    "icon"
    "info";
  grid-area: about-me;
  align-items: center;
  text-align: center;
}

.icon {
  grid-area: icon;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 4px solid #e5b094;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #f9e5d7, #fef4e8);
  width: 90%;
  height: auto;
}

.info {
  grid-area: info;
  text-align: left;
}

.info h2 {
  margin: 0;
  font-size: 2.4rem;
}

.info p {
  margin: 10px 0 0 0;
  font-size: 1rem;
}

.deer-pic-1 { grid-area: deer-pic-1; }
.deer-pic-2 { grid-area: deer-pic-2; }
.education { grid-area: education; }
.experience { grid-area: experience; }
.projects { grid-area: projects; }
.contact-me { grid-area: contact-me; }
